<html>
<head>
    <title>Hair Salon</title>
</head>
<body>
    <h1>{{ stylists.getName }}</h1>

    {% if clients is not empty %}
        <p>Here are the clients:</p>
        <ul>
            {% for client in clients %}
                <li>{{ client.getName }} : {{client.getEmail }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a client</h4>

    <form action='/clients' method='post'>
        <div>
<<<<<<< HEAD
            <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId }}">
=======
            <input id="stylist_id" name="stylists_id" type="hidden" value="{{ stylists.getId }}">
>>>>>>> 606f86939605fd8739abaa11c7fd84cf11a01c63
            <label for='client_name'>Client Name:</label>
            <input id='client_name' name='client_name' type='text'>
        </div>
        <div>
            <label for='email'>Client Email:</label>
            <input id='email' name='email' type='text'>
        </div>
        <button type='submit'>Add client</button>
    </form>

    <p><a href='/'>Home</a></p>
</body>
</html>
